.field{
  margin-bottom: 8px;
  margin-top: 4px;
}

.radio {
  margin-left: 8px;
  margin-top: -22px
}

.radioOption{
  margin-left:4px
}

.p-inputgroup{
  margin-bottom: 8px;
}

.drop{
  display: flex;
  justify-content: space-evenly;
}

p-dialog .ui-dialog {
  overflow: scroll;
  max-height: 70%;
}
