<div class="card">
  <p-table [value]="products" [columns]="cols" styleClass="p-datatable-gridlines"
           [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field !== 'action'">{{ rowData[col.field] }}</span>
          <span *ngIf="col.field == 'action'" style="display:'flex'; gap:'1rem'">
            <app-edit-product [product]="rowData"></app-edit-product>
            <app-delete-product [product]="rowData"></app-delete-product>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


